body {
	width: 421px;
	height: 387px;
	border: 1px solid black;
	background: #d9e4f1;
}

div .top {
	height: 30px;
}

.empty {
	text-align: center;
	background: url('icon.png');
	background-repeat: no-repeat;
	background-position: 10px 2px;
	padding-left: 10px;
}

td {
	border: 1px solid black;
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

ul li {
	display: inline-block;
}

ul li:first-letter {
	text-decoration: underline;
}

input[type=text] {
	width: 99%;
	text-align: right;
	border: 1px solid red;
	border-radius: 2px;
}

form {
	border: 1px solid #8e9cad;
}