table {
	padding: 0;
	margin: 0;
	font-family: helvetica, sans serif;
	font-size: 5em;
	border: 5px solid black;
	border-collapse: collapse;
}

thead {
	text-align: right;
	line-height: 150%;
}

td {
	padding: 10px 40px;
	margin: 10px;
	border: 5px solid black;
	text-align: center;
}